.addProgram {
  width: 100%;
  position: relative;
  overflow-y: scroll;
  padding: 10px;
}

.programContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
  border-radius: var(--Radius-sm, 8px);
  background: var(--Colours-White, #fff);
}

.programDate {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--Radius-sm, 8px);
  justify-content: center;
  width: 100%;
}
.programTime {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--Radius-sm, 8px);
  justify-content: center;
  width: 50%;
}

.DateReturn {
  padding: 18px 0 16px 0;
  align-items: flex-start;
  gap: 12px;
  justify-content: center;
  width: 100%;
}

.programItem {
  display: flex;
  gap: 20px;
  width: 100%;
  justify-content: center;
}
.programHours {
  display: flex;
  width: 98.5%;
  justify-content: center;
  border: 2px red;
}
.programHoursReminder {
  display: flex;
  width: 98.5%;
  justify-content: center;
  border: solid red;
  border-radius: 8px;
}
.date {
  display: flex;
  justify-content: center;
  height: 56px;
  width: 100%;
  position: relative;
  border-radius: var(--Radius-xs, 4px) var(--Radius-xs, 4px) 0 0;
}

.addReminder {
  display: flex;
  border: 2px dotted;
  border-radius: 8px;
  justify-content: center;
  gap: 10px;
}

.btnSave {
  display: flex;
  justify-content: center;
  gap: 20px;
  border-radius: 5px;
  background-color: red;
  margin-top: 180px;

  position: absolute;
  position: static;
  width: 100%;
}

.displaySave {
  align-items: center;
  top: 80%;
}
